.Cabeçalho {
    color: slategrey;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 5px;
}
fieldset {
    width: 60%;
    margin: 10px auto;
    background-color: rgb(221, 255, 255);
}
main {
    background-color: rgb(221, 255, 255);
}

legend {
    font-weight: bolder;
    font-size: 30px;
}

input:focus {
    background-color: slategrey;
}
button{
    font-size: 18px;
    padding: 5px;
    margin: 5px 45%;
}
button:focus {
    background-color: slategrey;
}

#LinkContato {
    pointer-events: none;
}
