nav{
    background-color:slategrey;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
nav ul {
    list-style-type: none;
    display: inline-flex;
    font-weight: bold;
}
nav ul li {
    margin: 2% 0% 2% 15%;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
.BarraDeNavegação {
    padding: 0;
    width: 400px;
}
a:visited {
    color:white;
}

footer {
    display: flex;
    margin: 20px;
}

#Endereco {
    display: flex;
}

#LocationIcon {
    width: 10%;
}
#LocationIcon picture img {
    width: 60%;
}

#InfoAdicionais {
    width: 100%;
}

