#LinkHome {
    pointer-events: none;
}
.clSec01 {
    display: flex;
    background-color: rgb(221, 255, 255);
}
.clSec01Col01 {
    width: 30vw;
}
.clSec01Col01 picture img {
    width: 100%;
}
.clSec01Col02 {
    text-align: justify;
    padding: 10px 30px;
    width: 70vw;
}
.clSec02 p {
    background-color: rgb(254, 204, 255);
    margin: 0px;
    padding: 10px;
}