.clSecPrincipal {
    text-align: justify;
    margin: 30px 50px;
    height: 60vh;
}
.clSecPrincipal h2 {
    text-align: center;
    color: slategrey;
    text-transform: uppercase;
}

#LinkSobre {
    pointer-events: none;
}